h2{
    color: black;
    text-shadow: 1px 2px 2px black,0 0 2px blue, 0 0 5 px blue;
    text-align: center;
}
div.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 300px;
    float: left;
    text-align: center;
}
div.galeria img{
    width: 80%;
    height: auto;

}
div.galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}
div.abajo{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10 px;
}
.container{
    display: flex;
    justify-content: center;

}
.imagen{
    margin: 10px 15px;
}
.texto{
    text-align: justify;
    margin: 50px 150px;
}
.texto1{
    text-align: center;
    margin: 40px;
}

